/target/classes/br/com/otasdetecnologia/App.class
/target/test-classes/br/com/otasdetecnologia/AppTest.class
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/test-classes/EstudoTest.class
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
